doctype html
html
head
body
block content
h1= title
h2= "results from mongo:"

        for comic in results
            div.card
                h2= comic.name

table
    thead
      tr
        th Name
        th Publisher
        th Issue

    tbody
      each mongo_result, i in results
        tr
          td= mongo_result
          td= mongo_result.publisher
          td= mongo_result.issue
